*{
margin:0;
padding: 0;
border: 0;
}

body{
  background-color: white;
  font-family: sans-serif;
  margin:0;
}
h2{
  font-size:250%;
  font-weight: 700;
  text-align: center;
  padding-top: 2px;
  color: black;
}

h3{
font-size: 175%;
line-height: 155px;
padding: 5% 0;
font-weight: 400;
color: white ;
}

p{
  font-family: 'Alegreya',sans-serif;
  color:white;
  font-size:160%;
  line-height: 150%;
  padding: 3%;
  text-indent: 2%;
  text-align: justify;
}

img{
max-width: 100%;
height: auto;
width: 100%;
margin-bottom: -4px;
}

header{
  background-color: black;
  width: 100%;
  height: 120px;
}

#header-inner{
  max-width: 1200px;
  margin: 0 auto;
  background-color: black;
  width: 100%;
}

#logo{
  margin:20px;
  float: left;
  width: 350px;
  height: 85px;
  background: url(images/blacklogo2.png) no-repeat center;
}


/**---Navigation--*/
nav{
  float: right;
  padding:25px 20px 0 0;
  background-color: black;
}

#menu-icon {
  display:hidden;
  width: 40px;
  height: 40px;
  background: url(images/nav.png) no-repeat center;
}
a:hover#menu-icon{

  border-radius: 4px 4px 0 0;
}

ul{
list-style-type: none;
}

nav ul li{
 font-family: sans-serif;
 font-size: 150%;
 display: inline-block;
 float: left;
 padding: 10px;
}

nav ul li a {
    color: #F5F5F5;
    text-decoration: none;

}

nav ul li a:hover {
    color: #C3D7DF;
}

.current{
color: #C3D7DF;
}
/**---End Navigation--**/


.banner {
   width:100%;
   background-color: black;
}

.banner-inner{
  max-width: 1100px;
  margin: 0 auto;
}

.one-third{
width: 33.33333%;
float: left;
text-align: center;
}

#seo{
background-color: #333;

}

#html{
background-color: #333;

}

#css{
background-color: #333;

}

.one-third i{
color: white;
font-size: 500%;
padding: 10% 0 0 0;
}


.inner-wrapper{
float: left;
width: 100%;
background-color: white;
}

article{
float: left;
margin: 0 auto;
width: 50%;
height: auto;
}


#desktop{
background-color: #333;

}


aside{
 float: right;
 margin: 0 auto;
 width: 50%;
 height: auto;
}

#desktop2{
  background-color: white;
}

#mobile{
  background-color:black;
}

#tablet{
background-color: white;
}

#tablet2{
  background-color: white;
}

.inner-wrapper-2{
 float:left;
 width: 100%;
 background-color: #C3D7DF;
}

.inner-wrapper-3{
 float:left;
 width: 100%;
 background-color: #C3D7DF;
}


.one-third2{
  width: 33.333333%;
  float: left;
  text-align: center;
}

#info1{
background-color: #A2B1C1;
}

#info2{
background-color: #BEB9AD;
}

#info3{
  background-color: #AADCD2;
}

/**
/**--- Start Footer---*/

footer{
  background-color: #333;
  width: 100%;
}

.social {
 list-style-type: none;
 text-align:center;
}

.social li {
display: inline;

}

.social i{
font-size:460%;
margin: 1%;
padding: 5% 5% 5% 4%;
color: #C3D7DF;
}

.social i:hover {
  color: #F5F5F5;
}

footer.footer2{
  border-top: 2px solid White;
  background-color: Black;
  max-height: 55px;
  text-align: center;
  margin: 0;
}

footer.footer2 p{
padding: 5px 0 9px 0;
text-align: center;
}

.animated {
       background-repeat: no-repeat;
       background-position: left top;
       padding-top:95px;
       margin-bottom:60px;
       -webkit-animation-duration: 2s;
       animation-duration: 2s;
       -webkit-animation-fill-mode: both;
       animation-fill-mode: both;
       list-style-type: none;
       margin: 0;
       padding: 0;
       overflow: hidden;
       background-color: black;
     text-align: center;
     font-family: monospace;
     color: white;
     font-size: 300%;
    }

    @-webkit-keyframes tada {
       0% {-webkit-transform: scale(1);}
       10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
       30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
       40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
       100% {-webkit-transform: scale(1) rotate(0);}
    }

    @keyframes tada {
       0% {transform: scale(1);}
       10%, 20% {transform: scale(0.9) rotate(-3deg);}
       30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
       40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
       100% {transform: scale(1) rotate(0);}
    }

    .tada {
       -webkit-animation-name: tada;
       animation-name: tada;
    }

/*-------------------------MEDIA-------*/
@media screen and (max-width:768px){
h2{
  font-size: 150%;
}

h3{
  font-size:125%;
}

p{
  font-size:120%;
}
header{
position: absolute;
}

#logo {

  margin:15px 0 20px -25px;
  background: url(images/smallerlogo2.png) no-repeat center;
}

#menu-icon{
  display: inline-block;
}

nav ul, nav:active ul {
  display: none;
  z-index: 1000;
  position: absolute;
  padding: 20px;
  background: black;
  right: 20px;
  top: 60px;
  border: 1px solid #FFF;
  border-radius: 2px 0 2px 2px;
  width: 50%;
}

nav:hover ul{
  display:block;
}

nav li{
  text-align: center;
  width: 100%;
  padding: 10px 0;
}
.banner{
  padding-top:86px;
}

.one-third{
  float:left;
  width: 100%;
}

.one-third i{
  font-size: 350%;
  padding: 4% 0 1% 0;
}

article{
  width: 100%

}

aside{
width: 100%;

}

.desk{
  display:none;
}

.one-third2{
width: 100%;
}
.social i{
  font-size: 180%;
}

}
