*{
margin:0;
padding: 0;
border: 0;
}

body{
  background:#333;;
  color: #485e74;
  line-height:1.6;
  font-family: sans-serif;

  margin: 0;

}

header{
  background-color: black;
  width: 100%;
  height: 120px;
}

#header-inner{
  max-width: 1200px;
  margin: 0 auto;
  background-color: black;
  width: 100%;
}

#logo{
  margin:20px;
  float: left;
  width: 350px;
  height: 85px;
  background: url(images/blacklogo2.png) no-repeat center;
}


/**---Navigation--*/
nav{
  float: right;
  padding:25px 20px 0 0;
  background-color: black;
}

#menu-icon {
  width: 40px;
  height: 40px;
  background: url(images/nav.png) no-repeat center;
}
a:hover#menu-icon{

  border-radius: 4px 4px 0 0;
}

ul{
list-style-type: none;
}

nav ul li{
 font-family: sans-serif;
 font-size: 150%;
 display: inline-block;
 float: left;
 padding: 10px;
}

nav ul li a {
    color: #F5F5F5;
    text-decoration: none;

}

nav ul li a:hover {
    color: #C3D7DF;
}

.current{
color: #C3D7DF;
}

.container{
  max-width:1170px;
  margin-left:auto;
  margin-right:auto;
  padding:1em;
}

.brand{
 text-align:center;

}

.brand span{
  color:white;
}

.wrapper{
  display: grid;
}

.wrapper > *{
  padding:2em;
}


.company-info{
  background:#BEB9AD;
}

.company-info h3, .company-info ul{
  text-align:center;
}


.contact{
  background:white;
}

/* FORM STYLES */

/* FORM STYLES */
.contact form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}

.contact form label{
  display:block;
}

.contact form p{
  margin:0;
}

.contact form .full{
  grid-column: 1 / 3;
}



.contact form button, .contact form input, .contact form textarea{
  width:80%;
  padding:1em;
  border:1px solid #BEB9AD;
}

.contact form button{
  background:#BEB9AD;
  border:0;
  text-transform: uppercase;
}


.contact form button:hover, .contact form button:focus{
  background: #AADCD2;
  color:white;
  outline:0;
  transition: background-color 1s ease-out;
}
#email-text-size{
  font-size:0.9em;
}

footer{
  background-color: #333;
  width: 100%;
}

.social {
 list-style-type: none;
 text-align:center;
}

.social li {
display: inline;

}

.social i{
font-size:460%;
margin: 1%;
padding: 5% 5% 5% 4%;
color: #C3D7DF;
}

.social i:hover {
  color: #F5F5F5;
}

footer.footer2{
  border-top: 2px solid White;
  background-color: Black;
  max-height: 55px;
  text-align: center;
  margin: 0;
}

footer.footer2 p{
padding: 5px 0 9px 0;
text-align: center;
}


/* LARGE SCREENS */

@MEDIA(max-width: 700px){

  .wrapper{
    box-shadow: 0 0 20px 0 rgba(72, 94, 116,0.7);
  }

  .wrapper > *{
    padding: 1em;
  }

  .company-info h3, .company-info ul {
    text-align:left;
    margin:0 1rem 0;
  }

  .brand{
    text-align:center;
  }
  #logo {

    margin:15px 0 20px -25px;
    background: url(images/smallerlogo2.png) no-repeat center;
  }

  #menu-icon{
    display: inline-block;
  }

  nav ul, nav:active ul {
    display: none;
    z-index: 1000;
    position: absolute;
    padding: 20px;
    background: black;
    right: 20px;
    top: 60px;
    border: 1px solid #FFF;
    border-radius: 2px 0 2px 2px;
    width: 50%;
  }

  nav:hover ul{
    display:block;
  }

  nav li{
    text-align: center;
    width: 100%;
    padding: 10px 0;
  }

}
